# Python

## Variable:
    - To store a value
    - To change a value

In [3]:
a = 35

In [1]:
a = 45
a

45

In [4]:
a

35

In [5]:
j = 20
k = 45
k
j

20

In [6]:
k

45

In [7]:
j,k

(20, 45)

In [8]:
m,n = 12,'45'
m,n

(12, '45')

In [9]:
print(m,n)

12 45

## Data types:
    - int -> only integer values
    - float -> Allows integer values and decimal values
    - str -> ' or '' or '''
    - [All Data structures]

## Type:
    - To know the data type for a variable

In [12]:
m,n,p,q = 45,23.56,"raju",'45'
print(m,type(m))
print(n,type(n))
print(p,type(p))
print(q,type(q))

45 <class 'int'>
23.56 <class 'float'>
raju <class 'str'>
45 <class 'str'>

In [13]:
k = p = o = s = 0
print(k,p,o,s,type(p))

0 0 0 0 <class 'int'>

## Input formatting:
    -> Dynamic programming
    -> By default it stores string data type values from user
    -> It acts like print and reading input from user

In [15]:
n = input()
print(n,type(n))

10
10 <class 'str'>

In [18]:
a=10
a

10